.form-control {
  text-align: left;
  margin-bottom: 25px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}
