<div>
  <app-progress-bar [progress]="progress"></app-progress-bar>
  <div>
    <h2>Опитування УМСФ</h2>
    <hr />
    <p>
      Шановні здобувачі вищої освіти, просимо вас оцінити викладання дисциплін в
      УМСФ для покращення якості освітнього процесу за вашою освітньою
      програмою.
    </p>
    <p>
      Необхідно оцінити всіх викладачів, після оцінення, викладач зникає зі
      списку.
    </p>
    <p>Усі анкети анонімні.</p>
    <hr />
  </div>
  <div *ngIf="!isAppLoaded">
    <app-loader></app-loader>
  </div>
  <!-- <div *ngIf="errorMessage">Failed to load survey.</div> -->
  <form *ngIf="isAppLoaded" [formGroup]="surveyForm">
    <div *ngIf="!firstPageCompleted">
      <div id="fistFourOptions">
        <app-select-box
          [arr]="educationLevelArr"
          [key]="'educationLevel'"
          formControlName="educationLevel"
        >
          Освітній рівень
        </app-select-box>

        <app-select-box
          [arr]="getEducationalFormValues()"
          [key]="'educationalForm'"
          formControlName="educationalForm"
          >Форма навчання</app-select-box
        >

        <app-select-box
          [arr]="educationStartYearArr"
          [key]="'year'"
          formControlName="year"
          >Рік набору</app-select-box
        >

        <app-select-box
          [arr]="educationSpecialtyArr"
          [key]="'speciality'"
          formControlName="speciality"
          >Освітня програма</app-select-box
        >
      </div>

      <div
        *ngIf="
          isEducationLevelQuestionsAnswered() &&
          isEducationFormQuestionsAnswered() &&
          isEducationStartYearQuestionsAnswered() &&
          isEducationSpecialtyQuestionsAnswered()
        "
      >
        <div *ngIf="!educationDisciplineArr">
          <app-loader></app-loader>
        </div>
        <div *ngIf="educationDisciplineArr">
          <app-select-box
            [arr]="getEducationDisciplineValues()"
            [key]="'title'"
            formControlName="title"
            >Дисципліна</app-select-box
          >
        </div>
        <div *ngIf="isDisciplineQuestionsAnswered()">
          <div *ngIf="!educationLecturersArr">
            <app-loader></app-loader>
          </div>
          <div *ngIf="educationLecturersArr">
            <app-select-box
              [arr]="educationLecturersArr"
              [key]="'lecturer'"
              formControlName="lecturer"
              >Викладач</app-select-box
            >
          </div>
        </div>
      </div>

      <div
        *ngIf="
          isEducationLevelQuestionsAnswered() &&
          isEducationFormQuestionsAnswered() &&
          isEducationStartYearQuestionsAnswered() &&
          isEducationSpecialtyQuestionsAnswered() &&
          isDisciplineQuestionsAnswered() &&
          isLecturerQuestionsAnswered()
        "
      >
        <button (click)="onSubmit()" type="submit">Далі</button>
      </div>
    </div>

    <div *ngIf="firstPageCompleted" id="second-page">
      <h2>Оцініть характеристики викладача</h2>

      <app-select-box
        [arr]="rate"
        [key]="'competence'"
        formControlName="competence"
      >
        1. Викладач компетентний у дисципліні та вільно володіє теоретичним
        матеріалом
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'knowledge'"
        formControlName="knowledge"
      >
        2. Викладає матеріал логічно та зрозуміло
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'practicality'"
        formControlName="practicality"
      >
        3. Викладач достатньо використовує практичні приклади під час занять
      </app-select-box>

      <app-select-box [arr]="rate" [key]="'tools'" formControlName="tools">
        4. Викладач використовує мультимедійні засоби навчання (презентації,
        електронні лекції тощо)
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'communication'"
        formControlName="communication"
      >
        5. Викладач налагоджує партнерські стосунки зі студентами, підтримує
        зворотній зв'язок
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'informativeness'"
        formControlName="informativeness"
      >
        6. Викладач на початку семестру інформує про форми контролю
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'objectivity'"
        formControlName="objectivity"
      >
        7. Викладач об'єктивно оцінює знання студентів
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'classroom'"
        formControlName="classroom"
      >
        8. Викладач забезпечує студентів навчальними матеріалами на платформі
        Google Classroom
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'conferences'"
        formControlName="conferences"
      >
        9. Викладач проводить заняття за розкладом з використанням Zoom, Meet,
        Skype чи інших програм для онлайн-конференцій
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'friendliness'"
        formControlName="friendliness"
      >
        10. Викладач тактовний і доброзичливий зі студентами
      </app-select-box>

      <app-select-box
        [arr]="rate"
        [key]="'preferences'"
        formControlName="preferences"
      >
        11. Хотів(-ла) б вивчати інші дисципліни саме з цим викладачем
      </app-select-box>

      <div class="form-control">
        <label for="comment"
          >12. Ваші побажання щодо покращення викладання цієї дисципліни</label
        >
        <textarea
          formControlName="comment"
          name="comment"
          rows="5"
          cols="33"
          maxlength="255"
        ></textarea>
      </div>
      <div *ngIf="isAllSelectionsAnswered()">
        <button (click)="onSendAnswers()">Відправити</button>
      </div>
    </div>
  </form>
</div>
